<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "HTTP://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间，sql隔离，对sql进行分类管理
注意：使用mapper代理方法开发，则有特殊作用-->


<mapper namespace="com.hanxiao.mapper.PromotionItemBannerMapper">
    <!--查询订单管理查询用户信息-->
    <select id="getBanners" resultType="com.hanxiao.po.PromotionItemBanner" parameterType="java.util.Map">
        select * from promotion_item_banner
        <where>
            <if test="type != null">
                type = #{type}
            </if>
        </where>
        <!--从第begin条记录起，查出offset条记录-->
        order by id desc limit #{begin},#{offset};
    </select>

    <select id="searchPromotionDataWithOffset" resultType="com.hanxiao.po.PromotionItemBanner" parameterType="java.util.Map">
        select * from promotion_item_banner
        <where>
            <if test="keyword != null">
                description like '%${keyword}%'
            </if>
        </where>
        <!--从第begin条记录起，查出offset条记录-->
        order by id desc limit #{begin},#{offset}
    </select>

    <insert id="insertBanners" parameterType="com.hanxiao.po.PromotionItemBanner">
        insert into promotion_item_banner(type,imgUrl,actionUrl,price,description)
        values(#{type},#{imgUrl},#{actionUrl},#{price},#{description});
    </insert>
</mapper>