<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "HTTP://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间，sql隔离，对sql进行分类管理
注意：使用mapper代理方法开发，则有特殊作用-->


<mapper namespace="com.hanxiao.mapper.TopBannerMapper">
    <!--查询订单管理查询用户信息-->
    <select id="getTopBanner" resultType="com.hanxiao.po.TopBannerData">
        select * from top_banner
        <where>
            <if test="type != null">
                type = #{type}
            </if>
            <if test="subType != null">
                and subType = #{subType}
            </if>
        </where>
        <!--从第begin条记录起，查出offset条记录-->
        order by id desc limit #{begin},#{offset}
    </select>

</mapper>